.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.backimg{
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
.home{
  background-image: url('./assets/Phishing\ account-bro.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}